* text=auto !eol
/Makefile -text
/apertium-pes.pes.dix -text
/apertium-pes.pes.rlx -text
/apertium-pes.post-pes.dix -text
dev/apertium-far.far.dix -text
dev/apertium-tg-fa.fa.dix -text
metadix-example/Makefile -text
metadix-example/apertium-pes.pes.metadix -text
metadix-example/buscaPar.xsl -text
metadix-example/principal.xsl -text
/pes.prob -text
/test_words.txt -text svneol=unset#application/octet-stream
